#canvas {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	height: 500px;
	border: 5px solid black;
	box-sizing: border-box;
	margin: auto;
}

.cell {
	display: flex;
	box-sizing: border-box;
}

#adjustSize {
	display: flex;
	margin: auto;
	margin-top: 20px;
}

#colorSelect {
	display: flex;
	margin: auto;
	margin-top: 20px;
}

#title {
	text-align: center;
}